mat-card-content {
  display: flex;
  flex-direction: column;
}

mat-card, mat-card-content, mat-card-title, mat-form-field {
  width: fit-content;
}

mat-card {
  margin: 1rem;
  padding: 1rem;
}

.semesterRegistration {
  h2 {
    margin-bottom: 0;
  }

  mat-icon {
    color: green;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
}
